.toaster-container {
  --toast-icon-success-primary: theme('colors.green.400');
  --toast-icon-success-secondary: theme('colors.slate.700');
  --toast-icon-error-primary: theme('colors.red.400');
  --toast-icon-error-secondary: theme('colors.slate.700');
  --toast-icon-loading-primary: theme('colors.sky.400');
  --toast-icon-loading-secondary: theme('colors.sky.900');
}

.toaster {
  @apply rounded-2xl bg-slate-700/90 px-3.5 text-sm text-slate-200 shadow-2xl backdrop-blur-xl !important;
}
