* {
  @apply antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  --font-sans: var(--font-sans-en);
}

:root, [lange=zh-CN] {
  --font-sans: var(--font-sans-en), var(--font-sans-cn);
}

::selection {
  background: theme('colors.stone.700');
  color: theme('colors.stone.50');
}

.dark ::selection {
  background: theme('colors.stone.300');
  color: theme('colors.stone.900');
}

.mask-t {
  background: linear-gradient(to top, transparent, #fefefe);
  -webkit-mask-image: linear-gradient(to bottom, #fefefe 24%, transparent);
}

.dark .mask-t {
  background: linear-gradient(to top, transparent, #1a1a1a);
  -webkit-mask-image: linear-gradient(to bottom, #1a1a1a 24%, transparent);
}

.mask-b {
  background: linear-gradient(to bottom, transparent, #fefefe);
  -webkit-mask-image: linear-gradient(to top, #fefefe 24%, transparent);
}

.dark .mask-b {
  background: linear-gradient(to bottom, transparent, #1a1a1a);
  -webkit-mask-image: linear-gradient(to top, #1a1a1a 24%, transparent);
}

.frosted-noise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/noise.png);
  background-repeat: repeat;
  background-size: 182px;
  opacity: .04;
  pointer-events: none;
  user-select: none;
}

/* Toast */
[data-sonner-toast], [data-sonner-toast] [data-close-button] {
  @apply font-sans;
  background-color: theme('colors.stone.100') !important;
  color: theme('colors.stone.800') !important;
  border-color: theme('colors.stone.200') !important;
}

.dark [data-sonner-toast], .dark [data-sonner-toast] [data-close-button] {
  background-color: theme('colors.stone.800') !important;
  color: theme('colors.stone.300') !important;
  border-color: theme('colors.stone.700') !important;
}

/* Uploader */
.uploader__modal {
  @apply font-sans;
  @apply bg-stone-50 text-stone-800;
}
.uploader .btn--primary {
  @apply bg-stone-800 text-stone-50 font-semibold;
}
.dark .uploader__modal {
  @apply bg-stone-900 text-stone-200;
}
.dark .uploader__submitted-file__container {
  @apply bg-stone-800;
}
.dark .uploader .btn--primary {
  @apply bg-stone-100 text-stone-900;
}
